.div1 {
  width: 320px;
  height: 500px;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 150px;
  border-radius: 15px;
  background: white;
}
body {
  background-color: #d5e1ef;
}
.img1 {
  margin-left: 16px;
  margin-top: 16px;
}

.h2 {
  width: 288px;
  margin-left: 25px;
  margin-right: 16px;
}

.p {
  color: #7d889e;
  margin-left: 35px;
  margin-right: 16px;
  width: 260px;
}

.bet2 {
  margin-left: 10px;
  color: blac;
}
